html {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}
.pictureBox {
    display: flex; 
    justify-content: flex-start;
    gap: .5%;
    width: auto;
    height: 300px;
    overflow: scroll;
}

.picture {
    width: auto; 
    height: auto; 
    border: .5px solid black;
}