html {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}
.pictureBox {
    display: flex; 
    justify-content: flex-start;
    gap: .5%;
    width: auto;
    height: 300px;
    overflow: scroll;
}

.picture {
    width: auto; 
    height: auto; 
    border: .5px solid black;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 45s linear infinite;
  }
  
  .marquee h1 {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }